
@{ 
    ViewBag.Title = "MyProjects";
    Layout = "~/Views/Shared/Developercommon.cshtml";
}

@using Techwork.Models
@model IEnumerable<UploadProject>
<div class="row mr-0">
    <div class="col-sm-12 pr-0" style="min-height:610px;">
        <p id="presponse" class="bg-warning text-left h4 " style="min-height:40px; width:100%;display:none;">@ViewBag.msg</p>
        <form actions="/Developer/SearchProject" method="post" align="right">
            <input type="text" name="searchedString" class="form-control-sm" />
            <button class="btn btn-sm btn-success mb-1 mr-2" type="submit"> Search Project</button>
        </form>
        <h2 class="text-center text-success">My Projects</h2>
        <table class="table table-hover table-bordered text-center">
            <thead>
                <tr class="text-success table-info">
                    <th>Uploaded On</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>FileName</th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (UploadProject d in Model)
                    {
                        <tr>
                            <td>@d.Uploaded_On</td>
                            <td>@d.Title</td>
                            <td class="text-justify">@d.Description</td>
                            <td><a class="text-decoration-none" href="~/Content/DeveloperUploadedProject/@d.FileName" target="_blank" download="@d.FileName">Download</a> </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>

